@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");
@font-face {
	font-family: Neue Machina;
	src: url(../fonts/NeueMachina/NeueMachina-Regular.otf);
	font-weight: 400;
}
@font-face {
	font-family: Neue Machina;
	src: url(../fonts/NeueMachina/NeueMachina-Medium.ttf);
	font-weight: 500;
}
/*----------------------------------------*/
/*  THEME DEFAULT CSS START
/*----------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (min-width: 1400px) {
	.container {
		max-width: 1160px;
	}
}

.section-title {
	margin-bottom: 100px;
}

.carousel.pointer-event {
	touch-action: pan-y pinch-zoom;
}

/*---------------------------------
	typography css start 
---------------------------------*/
html,
body {
	overflow-x: hidden;
}
body {
	font-family: "Manrope", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #848484;
}

p {
	line-height: 22px;
}

a {
	text-decoration: none;
}

h1.heading-1 {
	font-family: "Neue Machina", sans-serif;
	font-size: 80px;
	font-weight: 500;
	color: #353333;
	text-transform: uppercase;
}

h2.heading-2 {
	font-family: "Neue Machina", sans-serif;
	font-size: 56px;
	font-weight: 500;
	color: #353333;
	text-transform: uppercase;
}

h3.heading-3 {
	font-family: "Neue Machina", sans-serif;
	font-size: 32px;
	font-weight: 500;
	color: #353333;
	text-transform: uppercase;
}

h4.heading-4 {
	font-family: "Neue Machina", sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #353333;
	text-transform: uppercase;
	line-height: 32px;
}

h5.heading-5 {
	font-family: "Neue Machina", sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #353333;
	text-transform: uppercase;
	line-height: 32px;
}

h6.heading-6 {
}

ul {
	margin: 0px;
	padding: 0px;
}

img {
	max-width: 100%;
}

a,
.btn,
button,
span,
p,
i,
input,
select,
textarea,
li,
img,
svg path,
*::after,
*::before,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	color: inherit;
	text-decoration: none;
}

a,
button {
	color: inherit;
	outline: none;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

button:focus {
	outline: 0;
}

.button-primary {
	font-family: "Neue Machina", sans-serif;
	font-size: 17px;
	font-weight: 400;
	background: #313131;
	border-radius: 33px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 51px;
}

.button-primary.lg {
	padding: 17px 74px;
}

.button-secondary {
	font-family: "Neue Machina", sans-serif;
	font-size: 17px;
	font-weight: 400;
	background: #ffffff;
	border-radius: 33px;
	color: #1e1e1e;
	text-transform: uppercase;
	padding: 15px 51px;
}

.button-secondary.lg {
	padding: 17px 74px;
}

/* Header Area */
header {
	padding: 30px 0;
	background: #fafafa;
	border-bottom: 1px solid #d9d9d9;
}
header.header-white {
	background: #ffffff;
}
header .logo-box img {
	width: 160px;
}

header .header-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header .header-menu ul li {
	margin-right: 30px;
	display: inline-block;
}

header .header-menu ul li:last-child {
	margin-right: 0;
}

header .header-menu ul li a {
	text-transform: uppercase;
	color: #353333;
}

header .mobile-toggle img {
	cursor: pointer;
}

/*
* ====================================
*  71. Meanmenu
* ====================================
*/
.mean-container a.meanmenu-reveal {
	display: none;
}

.mean-container .mean-nav {
	background: none;
	margin-top: 0;
}

.mean-container .mean-bar {
	padding: 0;
	min-height: auto;
	background: none;
	margin-top: 70px;
	margin-bottom: 80px;
}

.mean-container .mean-nav {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	display: block !important;
}

.mean-container a.meanmenu-reveal {
	display: none !important;
}

.mean-container .mean-nav li a {
	width: 100%;
	padding: 15px 0;
	color: #333333;
	border-top: none;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 700;
}
.mean-container .mean-nav li a:hover {
	color: #c79153;
}

.mean-container .mean-nav li a.mean-expand {
	margin-top: 5px;
	padding: 0 !important;
	line-height: 14px;
	border: 1px solid #ddd !important;
	height: 30px;
	width: 30px;
	line-height: 30px;
	color: #333333;
	line-height: 30px;
	top: 0;
	font-weight: 400;
}
.mean-container .mean-nav li a.mean-expand:hover {
	background: #c79153;
	color: #fff;
	border-color: #ebebeb;
}

.mean-container .mean-nav li > a > i {
	display: none;
}

.mean-container .mean-nav li > a.mean-expand i {
	display: inline-block;
}

.mean-container .mean-nav > li:first-child > a {
	border-top: 0;
}

.mean-container .mean-nav li a.mean-expand.mean-clicked {
	color: #fff;
	background: #333;
}

.mean-container .mean-nav li a.mean-expand.mean-clicked i {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	color: #f5f4f4;
}

.mean-container .mean-nav li a {
	font-weight: 500;
	font-size: 24px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	display: block;
}

/* Sidemenu */
.side-menu {
	background: #1e1e1e;
	position: fixed;
	top: 0;
	left: 0;
	transform: translateY(-800px);
	width: 100%;
	height: 700px;
	z-index: 100;
	padding: 26px 24px 26px 30px;
	bottom: 100%;
	transition: 0s ease-in-out;
}

.side-menu.active {
	transition: 0.6s ease-in-out;
	transform: translateY(0);
}

.side-menu .logo-box {
	width: 115px;
}

.side-menu .cross-icon-box img {
	cursor: pointer;
}

.side-menu .social-icons ul li {
	width: 30px;
	margin-right: 20px;
}

/* Slider Section */
.slider-section {
	background: #fafafa;
}

@media (min-width: 1400px) {
	.slider-section .container {
		max-width: 1230px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

.slider-section .container {
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	position: relative;
}

.slider-section .text-box {
	padding: 142px 0 25px;
}

.slider-section .text-box h1.heading-1 {
	margin-bottom: 27px;
}

.slider-section .text-box p {
	max-width: 460px;
	width: 100%;
	margin-bottom: 53px;
}

.slider-section .image-box {
	border: 1px solid #d9d9d9;
	border-radius: 50%;
	position: relative;
	text-align: center;
	margin-right: -30px;
	width: 707px;
	height: 707px;
	float: right;
	margin-bottom: 81px;
}

.slider-section .image-box:after {
	content: "";
	width: 1px;
	height: 100%;
	background: #d9d9d9;
	position: absolute;
	left: 50%;
	top: 0;
}

.slider-section .image-box:before {
	content: "";
	width: 100%;
	height: 1px;
	background: #d9d9d9;
	position: absolute;
	left: 0;
	top: 50%;
}

.slider-section .image-box img.main {
	padding-top: 81px;
	z-index: 1;
	position: relative;
}

.slider-section .image-box img.polygon {
	position: absolute;
	top: 12%;
	left: 13%;
}

.slider-section .image-box img.rectangle-1 {
	position: absolute;
	top: 102px;
	right: -12px;
}

.slider-section .image-box img.rectangle-2 {
	position: absolute;
	bottom: 5%;
	right: 24%;
	z-index: 1;
}

.slider-section img.ellipse {
	position: absolute;
	bottom: 128px;
	left: -10px;
}

.slider-section .carousel-indicators [data-bs-target] {
	border-top: 10px solid #555;
}

/* Intro Section */
section.section-padding {
	padding: 120px 0;
}
.intro-section {
	padding: 120px 0 140px;
	position: relative;
}

.intro-section img.polygon {
	position: absolute;
	bottom: 506px;
	right: 52px;
}

.intro-section img.ellipse {
	position: absolute;
	bottom: 140px;
	left: 36px;
}

.intro-section .image-box {
	margin-bottom: 50px;
}

.intro-section .intro-box {
	margin-bottom: 20px;
}

.intro-section .intro-item {
	margin-bottom: 30px;
}

.intro-section .intro-item h4.heading-4 {
	margin-bottom: 10px;
}

.intro-section .intro-item p a {
	font-weight: 700;
	text-decoration: underline;
	color: #353333;
}

.intro-section .intro-item a.link {
	font-family: Neue Machina;
	font-size: 18px;
	color: #353333;
	margin-top: 30px;
	display: block;
	text-transform: uppercase;
}

.features-box .feature-item {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 1px solid #333;
	padding: 15px 50px;
	transition: 1s;
}

.features-box .feature-item h4.heading-4 {
	transition: 0s;
}

.features-box .feature-item p {
	display: none;
	margin-bottom: 0;
	color: #fff;
}

.features-box .feature-item:hover p {
	display: block;
}

.features-box .feature-item:hover {
	color: #ffffff;
}

.features-box .feature-item.item-2,
.features-box .feature-item.item-3,
.features-box .feature-item.item-4 {
	margin-left: -20px;
}

.features-box .feature-item.item-1 {
	border: 1px solid #10b9c9;
}

.features-box .feature-item.item-1 h4.heading-4 {
	color: #10b9c9;
}

.features-box .feature-item.item-1:hover h4.heading-4 {
	color: #fff;
}

.features-box .feature-item.item-1:hover {
	background: #10b9c9;
	z-index: 1;
}

.features-box .feature-item.item-2 {
	border: 1px solid #f1c04c;
}

.features-box .feature-item.item-2 h4.heading-4 {
	color: #f1c04c;
}

.features-box .feature-item.item-2:hover h4.heading-4 {
	color: #fff;
}

.features-box .feature-item.item-2:hover {
	background: #f1c04c;
	z-index: 1;
}

.features-box .feature-item.item-3 {
	border: 1px solid #835592;
}

.features-box .feature-item.item-3 h4.heading-4 {
	color: #835592;
}

.features-box .feature-item.item-3:hover h4.heading-4 {
	color: #fff;
}

.features-box .feature-item.item-3:hover {
	background: #835592;
	z-index: 1;
}

.features-box .feature-item.item-4 {
	border: 1px solid #ff730e;
}

.features-box .feature-item.item-4 h4.heading-4 {
	color: #ff730e;
}

.features-box .feature-item.item-4:hover h4.heading-4 {
	color: #fff;
}

.features-box .feature-item.item-4:hover {
	background: #ff730e;
	z-index: 1;
}

/* Gallery Section */
.gallery-section {
	position: relative;
}
.gallery-section .carousel-control-next-icon,
.gallery-section .carousel-control-prev-icon {
	width: 10rem;
	height: 10rem;
}
.gallery-section .zoom-icon {
	width: 4rem;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	margin-left: -2rem;
}

/* Product Section */
.product-section {
	padding: 110px 0;
	background-image: url(../img/products/bg.png);
	background-repeat: no-repeat;
	background-position: center 637px;
}

/*.product-section .grid-item { 
  width: 33.3333%;
  margin-bottom: 40px;
  padding: 0 20px;
}

.product-section .grid-item--width2 { 
  width: 66.6666%; 
}*/

.products-box .product-item {
	margin-bottom: 31px;
}

.products-box .product-item img {
	margin-bottom: 15px;
	height: 360px;
}

.products-box .product-item h4.heading-4 {
	text-transform: capitalize;
}

/* Problems Section */
.problems-section {
	padding: 100px 0 96px;
	background: #fafafa;
}

@media (min-width: 1400px) {
	.problems-section .container {
		max-width: 1220px;
	}
}

.problems-section .section-title {
	margin-bottom: 67px;
}

.problems-section .problems-box {
	border: 1px solid #d9d9d9;
}

.problems-section .problems-box .text-box {
	width: 50%;
	padding: 84px 39px;
	border-right: 1px solid #d9d9d9;
	position: relative;
}

.problems-section .problems-box .text-box .ellipse-1 {
	position: absolute;
	top: 56px;
	right: -5px;
}

.problems-section .problems-box .text-box h3.heading-3 {
	max-width: 456px;
	width: 100%;
	margin-bottom: 20px;
}

.problems-section .problems-box .text-box p {
	max-width: 460px;
	width: 100%;
	margin-bottom: 44px;
}

.problems-section .problems-box .image-box {
	width: 50%;
	padding: 0 25px;
}

/* Contact Section */
.contact-section {
	padding: 150px 0 75px;
}

.arrow-animation {
	width: 505px;
	height: 505px;
	background-image: url(../img/contact/animation-bg.svg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.arrow-animation img.polygon-yellow {
	position: absolute;
	top: 50%;
	transform: translate(-35px, -50%);
	left: 0;
	transition: 1s;
}

.arrow-animation:hover img.polygon-yellow {
	transform: translate(40px, -50%);
}

.arrow-animation img.polygon-blue {
	position: absolute;
	top: 50%;
	transform: translate(30px, -50%);
	right: 0;
	transition: 1s;
}

.arrow-animation:hover img.polygon-blue {
	transform: translate(-50px, -50%);
}

.contact-form .p-top {
	margin: 30px 0 25px;
}

.contact-form .form-control {
	font-size: 14px;
	padding: 18px 1px;
	border: none;
	border-bottom: 1px solid #d9d9d9;
	border-radius: 0;
	margin-bottom: 32px;
	height: 60px;
	background: transparent;
}

.contact-form .form-control:focus {
	box-shadow: none;
	border-bottom: 1px solid #777;
}

.contact-form .form-control::-webkit-input-placeholder {
	/* Edge */
	color: #848484;
	opacity: 0.6;
}

.contact-form .form-control:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #848484;
	opacity: 0.6;
}

.contact-form .form-control::placeholder {
	color: #848484;
	opacity: 0.6;
}

.contact-form textarea.form-control {
	resize: none;
}

.contact-form .button-primary {
	margin-top: 18px;
}

/* FAQ Section */
.faq-section {
	padding: 75px 0;
	position: relative;
}

.faq-section .section-title {
	margin-bottom: 83px;
}

.faq-section img.rectangle-1 {
	position: absolute;
	top: 183px;
	left: 102px;
}

.faq-section img.ellipse {
	position: absolute;
	top: 292px;
	right: 140px;
}

.faq-section img.polygon {
	position: absolute;
	bottom: 284px;
	right: 10px;
}

.faq-section .accordion {
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	margin-bottom: 50px;
}

.faq-section .accordion-item {
	border-color: #ececec;
}

.faq-section .accordion-button {
	font-family: Neue Machina;
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	text-transform: uppercase;
	color: #353333;
	padding: 32px 0;
}

.faq-section .accordion-button::after {
	background-image: url(../img/icons/arrow-down-right.svg);
}

.faq-section .accordion-button:not(.collapsed) {
	color: #353333;
	background-color: transparent;
	box-shadow: none !important;
}

.faq-section .accordion-button:focus {
	box-shadow: none !important;
}

.faq-section .accordion-body {
	padding: 0 0 32px;
	font-size: 16px;
}
.accordion-body p {
	color: #848484;
}

.faq-section .accordion-body p:last-child {
	margin-bottom: 0;
}

/* Instagram Section */
.instagram-section {
	padding: 75px 0 180px;
}

.instagram-section .image-box {
	margin-bottom: 30px;
}

/* Product Details */
.product-details {
	padding: 48px 0 83px;
	background-color: #fafafa;
}
.breadcrumbs .breadcrumb {
	margin-bottom: 25px;
}
.breadcrumbs .breadcrumb-item a {
	font-size: 18px;
	text-transform: uppercase;
	color: #848484;
	font-weight: normal;
	font-family: "Neue Machina";
}
.breadcrumbs .breadcrumb-item a span {
	margin-right: 9px;
}

.monta-product.show {
	width: 500px;
	height: 500px;
}
#show-img {
	width: 400px;
	height: 400px;
}
.small-img {
	width: 350px;
	height: 70px;
	margin-top: 10px;
	position: relative;
	left: 25px;
}
.small-img .icon-left,
.small-img .icon-right {
	width: 12px;
	height: 24px;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.small-img .icon-left {
	transform: rotate(180deg);
}
.small-img .icon-right {
	right: 0;
}
.small-img .icon-left:hover,
.small-img .icon-right:hover {
	opacity: 0.5;
}
.small-container {
	width: 310px;
	height: 70px;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.small-container div {
	width: 800%;
	position: relative;
}

.small-container .show-small-img {
	width: 70px;
	height: 70px;
	margin-right: 6px;
	cursor: pointer;
	float: left;
}
.small-container .show-small-img:last-of-type {
	margin-right: 0;
}
img#big-img {
	max-width: inherit;
}

.product-contents .product-title .heading-2 {
	line-height: 54px;
	margin-bottom: 40px;
}

.product-contents .product-content p {
	color: #848484;
}

.product-contents .product-content {
	margin-bottom: 30px;
}
.product-contents .product-dimension {
	font-size: 12px;
	font-weight: 600;
	color: #353333;
	margin-bottom: 40px;
}

.product-contents .product-price {
	margin-bottom: 36px;
	line-height: 1em;
}

.product-contents .button-primary {
	font-size: 18px;
	font-weight: 500;
	padding: 18px 50px;
}

.product-contents .product-button {
	margin-right: -25px;
	margin-bottom: 30px;
}

.product-contents .product-button span {
	font-size: 12px;
	font-weight: 600;
	margin-left: 23px;
	color: #353333;
}
.product-contents .socials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.product-contents .socials li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	margin-left: 20px;
}
.product-contents .socials li > span {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	margin-left: 15px;
}

.product-contents .socials li a {
	font-size: 20px;
	color: #848484;
}
.product-contents .socials .social-instagram li a {
	font-size: 12px;
	color: #353333;
	font-weight: 600;
}
.related-products {
	padding-top: 108px;
	padding-bottom: 108px;
}

.related-products .section-title {
	margin-bottom: 60px;
}
.related-products .products {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.related-products .products .single-product {
	flex: 0 0 18%;
	max-width: 18%;
	text-align: left;
	margin-bottom: 30px;
}
.related-products .products .product-item h4.heading-4 {
	text-transform: capitalize;
	line-height: 1;
	margin-top: 10px;
}

/* About us */
.about-section {
	padding: 105px 0;
	background-color: #fafafa;
}
.about-section .margin-bottom {
	margin-bottom: 100px;
}
.about-section .section-title {
	margin-bottom: 40px;
}

.about-section .section-subtitle {
	margin-bottom: 20px;
}
.about-section .section-subtitle h3 {
	font-size: 32px;
	color: #353333;
}
.about-section .section-subtitle h4.gray {
	color: #848484;
}
.about-section .section-subtitle h4.line-height {
	line-height: 32px;
}
.about-bottom-section .content-title {
	text-align: center;
}
.about-bottom-section .content-title .heading-2 {
	margin-bottom: 50px;
}
.about-bottom-section .section-subtitle {
	text-align: center;
}
.about-content h5.heading-5 {
	display: none;
	line-height: 1;
	margin: 20px 0 -15px;
}
/* Footer Area */
footer {
	background: #1e1e1e;
	color: #fff;
}

.footer-top {
	padding: 100px 0;
	position: relative;
}

.footer-top .ellipse-1 {
	position: absolute;
	top: 92px;
	left: 45px;
}

.footer-top .ellipse-2 {
	position: absolute;
	right: 222px;
	bottom: 59px;
}

.footer-top .rectangle-1 {
	position: absolute;
	top: 118px;
	right: 52px;
}

.footer-top .section-title {
	margin-bottom: 80px;
}

.footer-top .info-box a {
	font-family: Neue Machina;
	font-weight: 500;
	font-size: 32px;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 30px;
	display: block;
}

.social-icons ul {
	list-style: none;
	margin: 50px 0 0;
	padding: 0;
}

.social-icons ul li {
	display: inline-block;
	margin-right: 38px;
}

.social-icons ul li:last-child {
	margin-right: 0;
}

.footer-top .contact-form .p-top {
	margin: 0 0 14px;
}

.footer-top .contact-form .form-control {
	border-bottom: 1px solid rgba(217, 217, 217, 0.2);
	color: #fff;
	margin-bottom: 14px;
}

.footer-top .contact-form .button-secondary {
	margin-top: 26px;
}

.footer-top .contact-form .form-control:focus {
	border-bottom: 1px solid rgba(217, 217, 217, 0.6);
}

.footer-top .contact-form .form-control::-webkit-input-placeholder {
	/* Edge */
	color: #cbcbcb;
}

.footer-top .contact-form .form-control:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #cbcbcb;
}

.footer-top .contact-form .form-control::placeholder {
	color: #cbcbcb;
}

.footer-bottom {
	border-top: 1px solid #9c9c9c;
	padding: 50px 0;
}

.footer-bottom .footer-logo {
	margin-bottom: 20px;
}

.footer-bottom .footer-logo img {
	width: 149px;
}
