/* Medium Layout: 1280px. */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.slider-section .image-box {
		width: 600px;
		height: 600px;
	}

	.slider-section .image-box {
		margin-right: -11px;
	}
}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-section .text-box {
		padding: 100px 0 25px;
	}

	.slider-section .image-box {
		width: 500px;
		height: 500px;
	}

	.slider-section .image-box {
		margin-right: -11px;
	}

	.features-box .feature-item {
		width: 248px;
		height: 248px;
		padding: 5px 15px;
	}

	.features-box .feature-item h4.heading-4 {
		font-size: 20px;
	}

	.product-section {
		background-image: none;
	}

	.product-section .product-item img {
		height: initial;
	}

	.arrow-animation {
		width: 450px;
		height: 450px;
	}

	.arrow-animation img.polygon-yellow {
		width: 240px;
		transform: translate(-25px, -50%);
	}

	.arrow-animation img.polygon-blue {
		width: 240px;
		transform: translate(20px, -50%);
	}

	/* product details */
	.product-details-tab .tab-content .tab-pane {
		height: 360px;
		width: 360px;
	}
	.product-contents .product-button span {
		display: block;
		margin-top: 25px;
	}

	.product-contents .socials {
		display: block;
	}

	.product-contents .socials .social-instagram {
		margin-bottom: 25px;
	}
	.related-products .products .single-product {
		flex: 0 0 24%;
		max-width: 24%;
	}
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	h1.heading-1 {
		font-size: 60px;
	}

	h2.heading-2 {
		font-size: 40px;
	}

	header .logo-box {
		width: 140px;
	}

	header .header-menu ul li {
		margin-right: 15px;
	}

	header .header-menu ul li a {
		font-size: 13px;
	}

	.slider-section .text-box {
		padding: 50px 0 75px;
	}

	.slider-section .image-box {
		width: 400px;
		height: 400px;
	}

	.slider-section .image-box {
		margin-right: -11px;
	}

	.features-box .feature-item {
		width: 188px;
		height: 188px;
		padding: 5px 15px;
	}

	.features-box .feature-item h4.heading-4 {
		font-size: 16px;
	}

	.features-box .feature-item p {
		font-size: 12px;
	}

	.product-section {
		background-image: none;
	}

	.product-section .product-item img {
		height: initial;
	}

	.product-section .product-item h4.heading-4 {
		font-size: 14px;
	}

	.arrow-animation {
		margin: 0 auto 50px;
	}

	/* product details */
	.product-contents .product-title h3 {
		font-size: 47px;
	}
	.product-contents .product-button span {
		display: block;
		margin-top: 25px;
	}

	.product-contents .socials {
		display: block;
	}

	.product-contents .socials .social-instagram {
		margin-bottom: 25px;
	}
	.related-products .products .single-product {
		flex: 0 0 32%;
		max-width: 32%;
	}
	/* About us */
	.about-contents {
		margin-bottom: 45px;
	}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	h1.heading-1 {
		font-size: 64px;
		margin-bottom: 10px;
	}

	h2.heading-2 {
		font-size: 32px;
	}

	h3.heading-3 {
		font-size: 20px;
	}

	h4.heading-4 {
		font-size: 20px;
	}

	.section-title {
		margin-bottom: 59px;
	}

	header {
		padding: 20px 0;
		background: #fff;
	}

	header .container {
		padding: 0 25px;
	}

	header .logo-box img {
		width: 124px;
	}

	header .header-menu {
		display: none;
	}

	.slider-section .carousel {
		padding-bottom: 75px;
	}

	.slider-section .text-box {
		padding: 50px 0 45px;
		text-align: center;
	}

	.slider-section .text-box p {
		max-width: 241px;
		width: 100%;
		margin: 0 auto 40px;
	}

	.slider-section .image-box {
		width: 350px;
		height: 350px;
		float: initial;
		margin: 0 auto;
	}

	.slider-section .image-box img.rectangle-1,
	.slider-section img.ellipse {
		display: none;
	}

	.slider-section .container {
		border-left: none;
		border-right: none;
	}

	.slider-section .image-box img.polygon {
		width: 13px;
		top: 0;
	}

	.slider-section .image-box img.rectangle-2 {
		bottom: 2%;
		right: 28%;
		width: 16px;
	}

	.slider-section .image-box img.main {
		padding-top: 35px;
	}

	.intro-section {
		padding: 50px 0 20px;
	}

	.intro-section .intro-box {
		margin-bottom: 40px;
	}

	.intro-section .intro-item {
		margin-bottom: 20px;
		text-align: center;
	}

	.intro-section .intro-box .col-md-4 .intro-item:nth-child(2) {
		display: none;
	}

	.intro-section .intro-item h4.heading-4 {
		max-width: 350px;
		width: 100%;
		margin: -40px auto 0;
	}

	.intro-section .intro-item p,
	.intro-section .intro-item a.link {
		display: none;
	}

	.features-box .feature-item.item-2,
	.features-box .feature-item.item-3,
	.features-box .feature-item.item-4 {
		margin-left: 0px;
	}

	.features-box .feature-item {
		width: 100%;
		height: initial;
		border: none !important;
		padding: 0;
		height: 80px;
	}

	.features-box .feature-item:hover p {
		display: none;
	}

	.features-box .feature-item:hover {
		color: inherit;
	}

	.features-box .feature-item.item-1 p {
		color: #10b9c9;
	}

	.features-box .feature-item.item-1:hover h4.heading-4 {
		color: #10b9c9;
	}

	.features-box .feature-item.item-1:hover {
		background: initial;
		z-index: initial;
	}

	.features-box .feature-item.item-2 p {
		color: #f1c04c;
	}

	.features-box .feature-item.item-2:hover h4.heading-4 {
		color: #f1c04c;
	}

	.features-box .feature-item.item-2:hover {
		background: initial;
		z-index: initial;
	}

	.features-box .feature-item.item-3 p {
		color: #835592;
	}

	.features-box .feature-item.item-3:hover h4.heading-4 {
		color: #835592;
	}

	.features-box .feature-item.item-3:hover {
		background: initial;
		z-index: initial;
	}

	.features-box .feature-item.item-4 p {
		color: #ff730e;
	}

	.features-box .feature-item.item-4:hover h4.heading-4 {
		color: #ff730e;
	}

	.features-box .feature-item.item-4:hover {
		background: initial;
		z-index: initial;
	}

	.product-section {
		padding: 51px 0 23px;
		background-image: none;
	}

	.product-section .product-item {
		margin-bottom: 16px;
	}

	.product-section .product-item h4.heading-4 {
		font-size: 16px;
		line-height: 18.72px;
	}

	.product-section .product-item img {
		margin-bottom: 10px;
		height: initial;
	}

	.problems-section {
		padding: 40px 0;
	}

	.problems-section .section-title {
		margin-bottom: 40px;
	}

	.problems-section .problems-box .text-box {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #d9d9d9;
		text-align: center;
		padding: 40px 36px;
	}

	.problems-section .problems-box .text-box h3.heading-3 {
		margin-bottom: 10px;
	}

	.problems-section .problems-box .text-box p {
		font-weight: 600;
		margin: 0 auto 50px;
		line-height: 24px;
		max-width: 243px;
	}

	.problems-section .problems-box .image-box {
		width: 100%;
		padding: 0 30px;
	}

	.contact-section {
		padding: 30px 0 25px;
	}

	.section-title {
		margin-bottom: 40px;
	}

	.contact-form .p-top {
		margin: 0 0 12px;
	}

	.contact-form .form-control {
		margin-bottom: 5px;
	}

	.contact-form .button-primary {
		margin: 40px auto 0;
		display: block;
	}

	.faq-section {
		padding: 25px 0;
		position: relative;
	}

	.faq-section .section-title {
		margin-bottom: 30px;
	}

	.faq-section .accordion-button {
		font-size: 16px;
		line-height: 117%;
		font-weight: 500;
		padding: 10px 0;
	}

	.faq-section .accordion-item {
		border-top: 1px solid #ececec;
		margin-bottom: 10px;
	}

	.faq-section .accordion-item:last-of-type {
		margin-bottom: 0;
	}

	.instagram-section {
		padding: 25px 0 50px;
	}

	.footer-top {
		padding: 25px 0 50px;
	}

	.footer-top .section-title {
		margin-bottom: 50px;
	}

	.footer-top .ellipse-1 {
		top: 31px;
		left: 45px;
		width: 14px;
	}

	.footer-top .rectangle-1 {
		top: initial;
		bottom: 31px;
		right: 28px;
		width: 13px;
	}

	.footer-top .contact-form {
		padding: 0 15px;
		margin-bottom: 50px;
	}

	.footer-top .contact-form .button-secondary {
		margin: 40px auto 50px;
		display: block;
	}

	.footer-top .info-box {
		text-align: center;
	}

	.footer-top .info-box a {
		font-size: 16px;
		margin-bottom: 10px;
		line-height: 1em;
	}

	.social-icons ul {
		text-align: center;
	}

	.social-icons ul li {
		width: 30px;
		margin-right: 20px;
	}
	/* product-details */
	.product-details-tab {
		flex-direction: column-reverse;
		justify-content: center;
	}

	.product-details-tab .tab-content .tab-pane {
		height: 315px;
		width: 315px;
	}

	.product-details-tab .tab-content {
		margin: 0 auto;
	}
	.product-details-tab .nav {
		flex-direction: row;
		margin: 0 auto;
	}
	.product-contents .product-title {
		margin-top: 30px;
	}
	.product-contents .product-title h3 {
		font-size: 32px;
	}
	.product-contents .product-button span {
		display: block;
		margin-top: 25px;
	}

	.product-contents .socials {
		display: block;
	}

	.product-contents .socials .social-instagram {
		margin-bottom: 25px;
	}
	.related-products {
		padding: 50px 0;
	}
	.related-products .section-title {
		text-align: center;
		margin-bottom: 40px;
	}
	.related-products .products .single-product {
		flex: 0 0 48%;
		max-width: 48%;
	}

	/* About us */
	.about-section {
		padding: 45px 0;
	}
	.about-section .margin-bottom {
		margin-bottom: 50px;
	}
	.about-section .section-title {
		margin-bottom: 30px;
	}
	.about-contents {
		text-align: center;
		margin-bottom: 30px;
	}
	.section-subtitle {
		text-align: center;
	}

	.about-content {
		text-align: center;
	}

	.about-section .section-subtitle h3 {
		font-size: 22px;
	}
	.about-bottom-section .content-title h2.heading-2:first-child {
		font-size: 20px;
		margin-bottom: 80px;
		padding: 0 65px;
	}

	.about-bottom-section .content-title h2.heading-2:last-child {
		font-size: 30px;
		margin-bottom: 80px;
	}
	.about-content h5.heading-5 {
		display: block;
	}
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}
